$brand-color: #EE856C;
$brand-color-second: #73bc95;
$brand-color-text: #364270;

$red: #b71c4f;
$blue: #364270;
$yellow: #FDB631;
$orange: #E67E22;
$green: #73bc95;
$gray: #222222;
$light-gray: #F4F4F4;
