// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Avenir Roman", "Helvetica", "sans-serif";
$headers-font: "Avenir Black", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'Avenir Roman';
  src: font-url('Avenir-Roman.eot');
  src: font-url('Avenir-Roman.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir-Roman.woff') format('woff'),
       font-url('Avenir-Roman.ttf') format('truetype')
}

@font-face {
  font-family: 'Avenir Black';
  src: font-url('Avenir-Black.eot');
  src: font-url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir-Black.woff') format('woff'),
       font-url('Avenir-Black.ttf') format('truetype')
}
