// Hide background
@media(max-width:767px){
  .background-hidden-xs {
    background-image: none !important;
  }
}

@media(min-width:768px){
  .bg-gray-no-xs {
    background-color: #EEE;
  }
}

@media(min-width:768px){
  .h-100p-no-xs {
    height: 100%;
  }
}

@media(max-width:767px){
  .h-50-xs {
    height: 50px;
  }
}
.h-30 {
  height: 30px;
}
.h-60 {
  height: 60px !important;
}
.h-80 {
  height: 80px !important;
}
.h-100 {
  height: 100px !important;
}
.h-120 {
  height: 120px !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-80 {
  margin-top: 80px;
}
.mt-110 {
  margin-top: 110px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.bg-marine {
  background-color: $marine;
}
.bg-coral {
  background-color: $coral;
}
.bg-emerald {
  background-color: $emerald;
}
.bg-sea-green {
  background-color: $sea-green;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fs-14 {
  font-size: 14px;
}

.co-marine {
  color: $marine;
}
.co-coral {
  color: $coral;
}
.co-emerald {
  color: $emerald;
}

.atd-none {
  a {
    text-decoration: none;
  }
}
