<div class="banner" style="background-image: linear-gradient(rgba(54, 66, 112, 0.9), rgba(115, 188, 149, 0.8)), url(<%= image_path 'banner.jpg' %>);">
  <div class="banner-container">
    <div class="banner-title">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
          <h1>La navette qui donne envie d'aller au travail</h1>
        </div>
      </div>
    </div>

    <div class="banner-content">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
          <p><strong>Vous êtes une entreprise</strong> et êtes intéressée par notre service pour vos employés ?</p>
          <p><strong>Vous êtes un particulier</strong> et cherchez une alternative à l'utilisation de votre voiture individuelle ?</p>
        </div>
      </div>
    </div>

    <div class="banner-form">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#business-request-modal">
            Demander une simulation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="business-request-modal" tabindex="-1" role="dialog" aria-labelledby="business-request-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="business-request-modal-label">Demande de simulation</h4>
      </div>

      <div class="modal-body">
        <div id="new-business-request">
          <%= render 'business_requests/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
