<div class="banner" style="background-image: linear-gradient(rgba(54, 66, 112, 0.9), rgba(115, 188, 149, 0.8)), url(<%= image_path 'banner.jpg' %>);">
  <div class="banner-container">
    <div class="banner-title">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <%= image_tag 'logo.png' %>
          <h1>La navette qui donne envie d'aller au travail</h1>
        </div>
      </div>
    </div>

    <div class="banner-content">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p><strong>Vous êtes une entreprise</strong> et êtes intéressée par notre service pour vos employés ?</p>
          <p><strong>Vous êtes un particulier</strong> et cherchez une alternative à l'utilisation de votre voiture individuelle ?</p>
        </div>
      </div>
    </div>

    <div class="banner-form">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>Précisez-nous votre trajet, on arrive !</p>
          <%= render 'commute_requests/form'%>
        </div>
      </div>
    </div>
  </div>
</div>
