<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Merci d'avoir embarqué avec nous !</h4>
      </div>

      <div class="modal-body">
        <p>Un email de bienvenue vous a été envoyé.</p>
        <p>Partagez BackSit à vos proches, plus il y a de personnes inscrites sur le site, plus les chances de créer une ligne adaptée à vos besoins sont grandes !</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 text-center">
            <p>Je partage par email</p>
            <%= mail_to nil, 'Partager',
                        subject: "J'ai découvert BackSit, un service de navettes domicile-travail",
                        body: "Je viens de découvrir un service de navettes pour optimiser les trajets quotidiens jusqu'au travail, je pense que ça pourrait t'intéresser ! Jette un œil et inscris-toi pour pouvoir créer une ligne de transport à côté de chez toi.\r\rC'est par là : https://backsit.co !",
                        class: 'btn btn-xs btn-primary',
                        target: :_blank %>
          </div>
          <div class="col-xs-12 col-sm-6 text-center">
            <p>Je partage sur Facebook</p>
            <div class="fb-like" data-href="https://backsit.co/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
