<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Merci d'avoir embarqué avec nous !</h4>
      </div>

      <div class="modal-body">
        <p>Un email de bienvenue vous a été envoyé.</p>
        <p>Partagez Kariol à vos proches, plus il y a de personnes inscrites sur le site, plus les chances de créer une ligne adaptée à vos besoins sont grandes !</p>
        <div class="text-center">
          <%= mail_to nil, 'Je partage', subject: "J'ai découvert Kariol, un service de navette domicile-travail", body: "Je me suis inscrit sur le site de Kariol pour avoir une ligne de navettes à côté de chez moi.\r\rSi tu es intéressé, voila le lien :\r\rhttps://kariol.co", class: 'btn btn-primary', target: :_blank %>
        </div>
      </div>
    </div>
  </div>
</div>
