.banner {
  color: $brand-color-text;
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: left center;
  display: flex;
  align-items: stretch;
  justify-content: center;
  &-container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 70px;
    }
  }
  &-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
  }
  &-headline {
    text-align: center;
    h1 {
      text-transform: uppercase;
    }
    p {
      font-weight: lighter;
      margin: 30px 0;
    }
  }
  &-form {
    text-align: center;
    .input-group-addon {
      color: $brand-color-second;
    }
    .btn {
      text-transform: uppercase;
    }
  }
}
