.cta {
  background-color: $brand-color;
  padding: 50px 0;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &-form {
    .input-group-addon {
      color: $brand-color-second;
    }
  }
  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}
