.explanations {
  color: $brand-color-text;
  img {
    width: 100%;
  }
  .explanation {
    &-content {
      padding: 15px;
      text-align: center;
      img {
        width: auto;
        height: 60px;
      }
      p, li {
        text-align: left;
      }
    }
  }
}
