.explanations {
  color: $brand-color-text;
  .row {
    display: flex;
  }
  img {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.fit-left {
      object-position: left;
    }
  }
  .explanation {
    &-content {
      height: 100%;
      padding: 50px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-left {
        align-items: flex-start;
        text-align: left;
      }
      img {
        flex:none;
        width: auto;
        height: 120px;
        margin-top: -25px;
      }
      .steps {
        font-size: 10rem;
        color: $brand-color;
      }
      h3 {
        margin-top: 0;
      }
      p, li {
        text-align: justify;
      }
    }
  }
}

@media(max-width:767px){
  .explanations .row {
    display: block;
  }
}
