.team {
  background-color: light-gray;
  padding-bottom: 35px;
  text-align: center;
  color: $brand-color-text;
  &-title {
    padding: 35px 0;
    text-align: center;
    h2 {
      margin-top: 0;
      text-transform: uppercase;
    }
  }
  &-member {
    padding: 15px 0;
    text-align: center;
    img {
      height: 150px;
      border-radius: 100%;
    }
  }
}
